#previousButton,
#todayButton,
#nextButton {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  height: 40px;
  line-height: 35px;
  margin: 0 5px;
  padding: 0 10px;
  text-transform: uppercase;
  width: 80px;
  box-shadow:0px 2px 6px rgb(141, 141, 141);
}

#previousButton:hover,
#todayButton:hover,
#nextButton:hover {
box-shadow:inset 0px 1px 4px 2px rgb(187, 187, 187);
}

#sidebarToggle {
    display: none;
}
